body{
    font-family: Arial,Helvetica,Georgia;
}
.projectItem{
    width: 500px;
    height: auto;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.pimg{
    width: 500px;
    height: auto;
}